---
title: Home
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <div class="page">
      <h1 class="page-title">Hello world</h1>
      <p class="lead">This is Home.</p>

      {{ image "test.png" srcset="640 xs, 960 md" class="lazy" alt="Test image" }}
    </div>
  {{/content}}
{{/extend}}