---
title: Home
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <div class="page">
      <h1 class="page-title">Hello world</h1>
      <p class="lead">This is Home.</p>

      {{!-- {{ picture "test.png" placeholder="image" size="640" sizes="640 xs, 960 md" class="lazy" alt="Test image" }}

      {{ image "test.png" placeholder="image" sizes="640 xs, 960 md" class="lazy" alt="Test image" }} --}}
    </div>
  {{/content}}
{{/extend}}
